<h2>게시글 상세보기</h2><hr>
<div>
    <h4><%= @post.title %></h4>
    <br>
    <p><%= @post.content %></p>
</div>

<hr>
<h4>댓글목록</h4>
<% @comments.each do |c| %>
    <p>- <%= c.comment %></p>
<% end %>

<form action="/comments/create" method="post">
    <input type="hidden" name = "post_id" value = "<%= @post.id %>">
    <textarea class="form-control"name="comment_content" rows="3" placeholder="댓글을 입력하세요"></textarea>
    <button type="submit" class="btn btn-primary btn-sm mt-2">입력 </button>
</form>

